### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Others
*.swp
*.*~ 
.DS_Store
*.pyc
nupkg/
 
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/